<form id="form_estoque" action="salvar/" method="post" class="form-custom">
    {% csrf_token %}
    
    {% if estoque %}
        <input type="hidden" name="codigo" value="{{ estoque.codigo }}" />
        <input type="hidden" name="edit" value="1" />
    {% endif %}

    <div class="form-group">
        <label for="nome_medicamento">Medicamento:</label>
        <input name="codigo_medicamento" id="codigo_medicamento" type="hidden" value="{{ estoque.medicamento.codigo }}">
        <input name="nome_medicamento" id="nome_medicamento" list="nomes_medicamentos" class="form-control" autocomplete="off" placeholder="Buscar..." value="{{ estoque.medicamento.principio }}">
        <datalist id="nomes_medicamentos">
        {% for medicamento in arr_medicamentos %}
            <option
            data-bs-principiomedicamento="{{ medicamento.principio }}"
            data-bs-codigomedicamento="{{ medicamento.codigo }}"
            >{{ medicamento.principio }}</option>
        {% endfor %}
        </datalist>
    </div>

    <div class="form-group">
        <label for="nome">Apresentação:</label>
        <select name="apresentacao" id="apresentacao" class="form-control form-select">
        <option data-bs-tipagem="&nbsp;"></option>
        {% for apresentacao in arr_apresentacoes %}
            <option value="{{ apresentacao.codigo }}"
            {% if estoque.apresentacao == apresentacao %} selected {% endif %}
            data-bs-prescricao="{{ apresentacao.unidade_prescricao }}"
            data-bs-comercial="{{ apresentacao.unidade_comercial }}"
            >{{ apresentacao.unidade_prescricao }}</option>
        {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="concentracao">Concentração:</label>
        <input name="concentracao" type="text" id="concentracao" value="{{ estoque.concentracao }}" class="form-control" />
    </div>
    <div class="form-group">
        <label for="prescricao">Dosagem prescrita:</label>
        <input name="prescricao" type="text" id="prescricao" value="{{ estoque.prescricao|stringformat:".2f" }}" class="form-control" />
        <span id="tipagem_dosagem">&nbsp;</span>
    </div>
    <div class="form-group">
        <label for="frequencia">Frequência:</label>
        <input name="frequencia" type="number" id="frequencia" value="{{ estoque.frequencia }}" class="form-control" />
        <span>vez(es) por dia</span>
    </div>
    <div class="form-group">
        <label for="horarios">Horários:</label>
        <input name="horarios" type="text" id="horarios" value="{{ estoque.horarios }}" class="form-control" />
    </div>
    <div class="form-group">
        <label for="qtd_disponivel">Quantidade disponível:</label>
        <input name="qtd_disponivel" type="number" id="qtd_disponivel" value="{{ estoque.qtd_disponivel|stringformat:".2f" }}" class="form-control" />
        <span id="tipagem_qtddisponivel">&nbsp;</span>
    </div>
    <button type="submit" class="btn btn-primary">Salvar</button>
</form>

<script>

// Troca o submit para enviar no popup
document.getElementById('form_estoque').addEventListener('submit', envia_e_recarregar);

function selecionou_medicamento(input, option) {
    input.value = option.attributes['data-bs-principiomedicamento'].value;
    $('#codigo_medicamento').val(option.attributes['data-bs-codigomedicamento'].value);
}

$("#nome_medicamento").on("keydown", function(e){
    if(e.key){ // in case of mouse event e.key is 'undefined'
        if (e.key === "Enter") { // looks like user wants to confirm the choice
            //Verifica se tem valor no campo (selecionou alguma coisa do datalist)
            if (this.value.length > 0) {
                var opts = $("#nomes_medicamentos option").map(function(){return  this.value;}).get();
                var idx = opts.indexOf(this.value);
                if(idx >= 0){
                    selecionou_medicamento(this, $("#nomes_medicamentos option")[idx]);
                }
            }
        } else {
            this.setAttribute("data-keyboardinput", "true"); // remember that it's keyboard event

            setTimeout(function(){ //and keep it in memory for 100ms
                this.removeAttribute("data-keyboardinput");
            }.bind(this), 100);
        }
    }
});

$("#nome_medicamento").on("input", function(){
    if(!this.dataset.keyboardinput) { // if it's not a key press followed event
        //Verifica se tem valor no campo (selecionou alguma coisa do datalist)
        if (this.value.length > 0) {
            var opts = $("#nomes_medicamentos option").map(function(){return  this.value;}).get();
            var idx = opts.indexOf(this.value);
            if(idx >= 0){
                selecionou_medicamento(this, $("#nomes_medicamentos option")[idx]);
            }
        }
    }
});

$("#apresentacao").on("change", function(){
    var option = $("#apresentacao option:selected")[0];
    $('#tipagem_dosagem').html(option.attributes['data-bs-prescricao'].value);
    $('#tipagem_qtddisponivel').html(option.attributes['data-bs-comercial'].value);
});

</script>
