<form id="form_estoque" action="salvar/" method="post" class="form-custom" enctype="multipart/form-data">
	{% csrf_token %}

	{% if estoque %}
		<input type="hidden" name="codigo" value="{{ estoque.codigo }}" />
		<input type="hidden" name="edit" value="1" />
	{% endif %}


	<div class="form-group">
		<label>Tipo de uso:</label>

		<input type="radio" name="continuo" id="continuo-S" class="btn-check" value="S" autocomplete="off" {% if estoque and estoque.continuo %} checked {% endif %} />
		<label class="btn btn-outline-secondary d-inline" for="continuo-S">Cont&iacute;nuo</label>

		<input type="radio" name="continuo" id="continuo-N" class="btn-check" value="N" autocomplete="off" {% if estoque and not estoque.continuo %} checked {% endif %} />
		<label class="btn btn-outline-secondary d-inline" for="continuo-N">Espor&aacute;dico</label><br>
	</div>


	<div id="campo_dias_uso" class="form-group" {% if not estoque or estoque.continuo %} style="display: none;" {% endif %}>
		<label for="dias_uso">Tempo de uso:</label>
		<input name="dias_uso" type="text" id="dias_uso" value="{% if estoque and estoque.dias_uso is not None %}{{ estoque.dias_uso }}{% endif %}" class="form-control" />
		<small class="form-text">Quantidade de dias de uso do medicamento</small>
	</div>


	<div class="form-group">
		<label for="nome_medicamento">Medicamento:</label>
		<input name="codigo_medicamento" id="codigo_medicamento" type="hidden" value="{{ estoque.medicamento.codigo }}">
		<input name="nome_medicamento" id="nome_medicamento" list="nomes_medicamentos" class="form-control" autocomplete="off" placeholder="Buscar..." value="{{ estoque.medicamento.principio }}">
		<datalist id="nomes_medicamentos">
		{% for medicamento in arr_medicamentos %}
			<option
			data-bs-principiomedicamento="{{ medicamento.principio }}"
			data-bs-codigomedicamento="{{ medicamento.codigo }}"
			>{{ medicamento.principio }}</option>
		{% endfor %}
		</datalist>
	</div>

	<div class="form-group">
		<label for="nome">Apresentação:</label>
		<select name="apresentacao" id="apresentacao" class="form-control form-select">
		<option data-bs-prescricao="" data-bs-comercial="" ></option>
		{% for apresentacao in arr_apresentacoes %}
			<option value="{{ apresentacao.codigo }}"
			{% if estoque.apresentacao == apresentacao %} selected {% endif %}
			data-bs-prescricao="{{ apresentacao.unidade_prescricao }}"
			data-bs-comercial="{{ apresentacao.unidade_comercial }}"
			>{{ apresentacao.unidade_prescricao }}</option>
		{% endfor %}
		</select>
	</div>

	<div class="form-group">
		<label for="concentracao">Concentração:</label>
		<input name="concentracao" type="text" id="concentracao" value="{{ estoque.concentracao }}" class="form-control" />
	</div>

	<div class="form-group">
		<label for="validade">Validade:</label>
		<input name="validade" type="date" id="validade" value="{{ estoque.validade|date:'Y-m-d' }}" class="form-control" />
	</div>

	<div class="form-group">
		<label for="prescricao">Dosagem prescrita:</label>
		<input name="prescricao" type="text" id="prescricao" value="{{ estoque.prescricao|stringformat:".2f" }}" class="form-control" />
		<small class="form-text" id="tipagem_dosagem">&nbsp;</small>
	</div>

	<div class="form-group">
		<label for="frequencia">Frequência:</label>
		<input name="frequencia" type="number" id="frequencia" value="{{ estoque.frequencia }}" class="form-control" />
		<small class="form-text">vez(es) por dia</small>
	</div>
	<div class="form-group">
		<label for="horarios">Horários:</label>
		<div class="checkbox-grid">
			{% for value, label in HORA_CHOICES %}
				<input type="checkbox" name="hora" id="horario-{{ value }}" class="btn-check" value="{{ value }}" autocomplete="off" {% if value in horarios_selecionados %} checked {% endif %} />
				<label class="btn btn-outline-secondary d-inline" for="horario-{{ value }}">{{ label }}</label>
			{% endfor %}
		</div>
	</div>
	<div class="form-group">
		<label for="qtd_disponivel">Quantidade disponível:</label>
		<input name="qtd_disponivel" type="text" id="qtd_disponivel" value="{{ estoque.qtd_disponivel|stringformat:".2f" }}" class="form-control" {% if estoque %} disabled {% endif %} />
		<small class="form-text" id="tipagem_qtddisponivel">&nbsp;</small>
	</div>
	{% if estoque %}
		<div class="form-group">
			<label for="qtd_alterar">Adicionar ou diminuir quantidade do estoque:</label>
			<input name="qtd_alterar" type="text" id="qtd_alterar" value="" class="form-control" />
			<small class="form-text text-muted">Formato esperado: &lt;+|-&gt;&lt;qtd&gt; (Ex.: "+1", "-3", "+5.5", "-2.75").</small>
		</div>
	{% endif %}


	<button type="submit" class="btn btn-primary">Salvar</button>
</form>

<style>
.checkbox-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
	gap: 0.5rem;
}
.checkbox-grid label {
	display: flex;
	align-items: center;   /* vertical centering */
	justify-content: center; /* horizontal centering */
	gap: 0.5rem; /* optional: space between checkbox and text */
	padding: 0.5rem; /* optional: adds some clickable area */
	text-align: center;
	cursor: pointer;
}

</style>

<script>

/*document.getElementById('form_estoque').addEventListener('submit', teste_feririxXo);

function teste_feririxXo(e) {
	alert('foi');
	e.preventDefault();
	e.stopPropagation();
}
*/

$( "form_estoque" ).on( "submit", function( event ) {
	event.preventDefault();
	event.stopPropagation();
	// Do something
});

// Troca o submit para enviar no popup
document.getElementById('form_estoque').addEventListener('submit', envia_e_recarregar);

function selecionou_medicamento(input, option) {
	input.value = option.attributes['data-bs-principiomedicamento'].value;
	$('#codigo_medicamento').val(option.attributes['data-bs-codigomedicamento'].value);
}

$("#nome_medicamento").on("keydown", function(e){
	if(e.key){ // in case of mouse event e.key is 'undefined'
		if (e.key === "Enter") { // looks like user wants to confirm the choice
			//Verifica se tem valor no campo (selecionou alguma coisa do datalist)
			if (this.value.length > 0) {
				var opts = $("#nomes_medicamentos option").map(function(){return  this.value;}).get();
				var idx = opts.indexOf(this.value);
				if(idx >= 0){
					selecionou_medicamento(this, $("#nomes_medicamentos option")[idx]);
				}
			}
		} else {
			this.setAttribute("data-keyboardinput", "true"); // remember that it's keyboard event

			setTimeout(function(){ //and keep it in memory for 100ms
				this.removeAttribute("data-keyboardinput");
			}.bind(this), 100);
		}
	}
});

$("#nome_medicamento").on("input", function(){
	if(!this.dataset.keyboardinput) { // if it's not a key press followed event
		//Verifica se tem valor no campo (selecionou alguma coisa do datalist)
		if (this.value.length > 0) {
			var opts = $("#nomes_medicamentos option").map(function(){return  this.value;}).get();
			var idx = opts.indexOf(this.value);
			if(idx >= 0){
				selecionou_medicamento(this, $("#nomes_medicamentos option")[idx]);
			}
		}
	}
});

$("#apresentacao").on("change", function(){
	var option = $("#apresentacao option:selected")[0];
	var tipagem = $('#tipagem_dosagem');
	tipagem.html(option.attributes['data-bs-prescricao'].value);
	$('#tipagem_qtddisponivel').html(option.attributes['data-bs-comercial'].value);
});

$( document ).ready(function() {
	$("#apresentacao").trigger("change");
});

// Aplica ao mudar a seleção
$('input[name="continuo"]').on('change', function() {
	
	var uso = $('input[name="continuo"]:checked').val();
	if (uso === 'N') {
		$('#campo_dias_uso').removeClass('d-none').fadeIn(500);
	} else {
		$('#campo_dias_uso').fadeOut(500);
	}
});

</script>
