{% extends 'base.html' %}
{% load static %}

{% block title %}Lembre-MEd - MEDICAMENTOS{% endblock %}

{% block content %}
<main>
  <section class="medicamentos-container container">
    <div class="text-center mb-4">
      <h1 class="section-title mb-1">MEDICAMENTOS</h1>
      <h2 class="text-custom">Hóspede: {{ morador.nome }}</h1>
    </div>

    {% if lista_estoques %}
    <!-- Versão Desktop -->
    <div class="medicamentos-cards-desktop">
      <div class="medicamento-card-desktop">
        <div class="medicamento-info-desktop" style="overflow-x: auto;">
          <table class="table table-medicamento-desktop">
            <thead>
              <tr>
                <th>Medicamento</th>
                <th>Apresentação</th>
                <th>Concentração</th>
                <th>Prescrição</th>
                <th>Frequência</th>
                <th>Horários</th>
                <th>Qtd. disponível</th>
                <th>Duração estoque</th>
              </tr>
            </thead>
            {% for estoque_associado in lista_estoques %}
            <tbody>
              <tr>
                <td>{{ estoque_associado.estoque.medicamento }}</td>
                <td>{{ estoque_associado.estoque.apresentacao.unidade_prescricao }}</td>
                <td>{{ estoque_associado.estoque.concentracao }}</td>
                <td>{{ estoque_associado.estoque.prescricao|stringformat:".2f" }} {{ estoque_associado.estoque.apresentacao.unidade_prescricao }}</td>
                <td>{{ estoque_associado.estoque.frequencia }} x dia</td>
                <td>{{ estoque_associado.estoque.horarios }}</td>
                <td>{{ estoque_associado.estoque.qtd_disponivel|stringformat:".2f" }} {{ estoque_associado.estoque.apresentacao.unidade_comercial }}</td>
                <td>Aproximadamente {{ estoque_associado.duracao|floatformat:0 }} dia(s)</td>
              </tr>
              <tr>
                <td colspan="8">
                  <div class="medicamento-actions d-flex flex-wrap gap-2 mb-2">
                    <button class="btn btn-custom" onclick="carregar_pagina_popup('editar/{{ estoque_associado.estoque.codigo }}', 'GET', {}, 'Alterar')">Editar</button>
                    <button class="btn btn-danger" onclick="if (confirm('Confirma a exclusão?')) { carregar_pagina_popuploading('excluir/{{ estoque_associado.estoque.codigo }}', 'GET', {}, 'Excluindo...'); }">Excluir</button>
                    <button class="btn btn-outline-success" onclick="if (confirm('Confirmar administração?')) { carregar_pagina_popuploading('administrar/{{ estoque_associado.estoque.codigo }}', 'GET', {}, 'Medicando...'); }">Medicar</button>
                  </div>
                </td>
              </tr>
              <tr>
                <td colspan="8">
                  {% if estoque_associado.ultima_administracao %}
                  Última administração: {{ estoque_associado.ultima_administracao.dthr_administracao|date:"d/m/Y H:i" }} por {{ estoque_associado.ultima_administracao.profissional.nome }}
                  {% else %}
                  Nunca administrado
                  {% endif %}
                </td>
              </tr>
              {% if estoque_associado.duracao <= 7 %}
              <tr>
                <td colspan="8" class="text-center bg-danger text-white fw-bold">
                  Faltam menos de 7 dias de estoque para este medicamento
                </td>
              </tr>
              {% endif %}
            </tbody>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
    {% else %}
    <p class="text-center">Não temos nenhum medicamento cadastrado para o hóspede :(</p>
    {% endif %}

    <button class="btn-cadastrar" onclick="carregar_pagina_popup('cadastrar/', 'GET', {}, 'Cadastrar medicamento');">
      Cadastrar Novo Medicamento
    </button>
  </section>
</main>
{% endblock %}
