{% extends 'base.html' %}

{% load static %}

{% block title %}LembreMED - MEDICAMENTOS{% endblock %}


{% block content %}
<style>
tr.details > td, tr.details {
	border-top-width: 2px;
	border-top-color: black;
	border-top-style: solid;
}
</style>


<main style="padding: 20px;">
	<section class="medicamentos-container">
		<h2 class="section-title">MEDICAMENTOS</h2>
		<div class="medicamentos-filter">
			<img class="filter-icon" src="{% static 'images/filter_7420963.png' %}" alt="Buscar">
			<input type="text" id="searchInput" placeholder="Buscar por nome do princípio ativo do medicamento" onkeyup="filterMedicamentos()"
				style="width: 100%; padding: 10px; margin-bottom: 20px;">
		</div>
			
		<div class="text-center mb-1">
			<h3>
				{{ morador.nome }}
			</h3>
		</div>
		
		
		{% if lista_estoques %}
		<div class="medicamentos-cards">
			<div class="medicamento-card">
				<div class="medicamento-info">
					<table class="table table-medicamento">
						<thead>
						<tr>
							<th>
								Medicamento
							</th>
							<th>
								Apresentação
							</th>
							<th>
								Concentração
							</th>
							<th>
								Prescrição
							</th>
							<th>
								Frequência
							</th>
							<th>
								Horários
							</th>
							<th>
								Qtd. disponível
							</th>
							<th>
								Duração estoque
							</th>
						</tr>	
						</thead>	
						{% for estoque_associado in lista_estoques %}				
							<tbody class="tbody-medicamento">
								<tr class="details">
									<td>
										<span class="span-medicamento">
										{{ estoque_associado.estoque.medicamento }}
										</span>
										
										<div class="medicamento-actions">
											{% if perms.lembremed.pode_medicar_morador %}
											
												<button class="btn btn-primary" 
													onclick="carregar_pagina_popup('editar/{{ estoque_associado.estoque.codigo }}', 'GET', {}, 'Alterar {{ estoque_associado.estoque.medicamento.principio }}')">
													Editar</button>
												<button class="btn btn-primary" 
													onclick="if (confirm('Confirma a exclusão deste medicamento?')) { carregar_pagina_popuploading('excluir/{{ estoque_associado.estoque.codigo }}', 'GET', {}, 'Excluindo {{ estoque_associado.estoque.medicamento.principio }}...'); }">
													Excluir</button>
													
												<button class="btn btn-primary" 
													onclick="if (confirm('Confirma a administração de {{ estoque_associado.estoque.medicamento.principio }}?')) { carregar_pagina_popuploading('administrar/{{ estoque_associado.estoque.codigo }}', 'GET', {}, 'Administrando {{ estoque_associado.estoque.medicamento.principio }}...'); }">
													Medicar
										</button>
												
											{% endif %}
										</div>
									</td>
									<td>
										{{ estoque_associado.estoque.apresentacao.unidade_prescricao }}
									</td>
									<td>
										{{ estoque_associado.estoque.concentracao }}
									</td>
									<td>
										{{ estoque_associado.estoque.prescricao|floatformat:2 }}
										{{ estoque_associado.estoque.apresentacao.unidade_prescricao }}
									</td>
									<td>
										{{ estoque_associado.estoque.frequencia }} x dia
									</td>
									<td>
										{{ estoque_associado.estoque.horarios }}
									</td>
									<td>
										{{ estoque_associado.estoque.qtd_disponivel|floatformat:2 }}
										{{ estoque_associado.estoque.apresentacao.unidade_comercial }}
									</td>
									<td>
										Aproximadamente {{ estoque_associado.duracao|floatformat:0 }} dia(s)
									</td>
								</tr>
								<tr>
									<td colspan="9">
										{% if estoque_associado.ultima_administracao %}
											Última administração: {{ estoque_associado.ultima_administracao.dthr_administracao|date:"d/m/Y H:i" }}
											feita por {{ estoque_associado.ultima_administracao.profissional.nome }}
										{% else %}
											Nunca administrado
										{% endif %}
									</td>
								</tr>
								{% if estoque_associado.duracao <= 7 %}
									<tr>
										<td colspan="9" class="text-center bg-danger text-white">
											Faltam menos de 7 dias de estoque para este medicamento
										</td>
									</tr>
								{% endif %}
							</tbody>
						{% endfor %}
					</table>
				</div>
			</div>
			
		</div>
		{% else %}
			<p style="text-align: center;">Não temos nenhum medicamento cadastrado para o morador :(</p>
		{% endif %}
		<button class="btn-cadastrar"
			onclick="carregar_pagina_popup('cadastrar/', 'GET', {}, 'Cadastrar medicamento');">Cadastrar Novo
			Medicamento</button>
	</section>
		
</main>

<script src="{% static 'scripts/filter.js' %}"></script>
{% endblock %}