{% extends "base.html" %}

{% block content %}


  {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
      <p>Please login to see this page.</p>
    {% endif %}
  {% endif %}
  
<div id="loginContainer" style="width: 500px;" class="mx-auto">
	{% if form.errors %}
	<div class="alert alert-danger d-none" id="loginError" role="alert">
		<p>Credenciais incorretas. Por favor, tente novamente.</p>
	</div>
	{% endif %}  
  <div class="login">
    <form id="loginForm" method="post" class="formLogin" action="{% url 'login' %}">
      {% csrf_token %}
        <p class="text-muted">Digite os seus dados de acesso no campo abaixo.</p>
        
        <!-- Campo select obrigatório -->
        <label for="user_type" class="form-label">Selecione o tipo de usuário:</label>
        <select id="user_type" name="user_type" class="form-select mb-3" required
            onchange="applyMaskAndShowFields()">
            <option value="" disabled selected>Selecione...</option>
            <option value="administrador">Administrador</option>
            <option value="instituicao">Instituição</option>
            <option value="profissional">Profissional</option>
        </select>
        <br>

        <!-- Ocultar inicialmente os campos de usuário e senha -->
        <div id="loginFields" class="mt-3" style="display:none;">
            <div class="mb-3">
                <label for="username" class="form-label">{{ form.username.label_tag }}</label>
                <input type="text" id="username" name="username" class="form-control rounded-3"
                    value="{{ form.username.value }}" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">{{ form.password.label_tag }}</label>
                <div class="position-relative">
                    <input type="password" id="password" name="password"
                        class="form-control rounded-3 pe-5" required>
                    <i class="bi bi-eye position-absolute top-50 end-0 translate-middle-y me-3 cursor-pointer"
                        id="togglePassword" onclick="togglePasswordVisibility()"
                        style="cursor: pointer; font-size: 1.2rem;"></i>
                </div>
            </div>
        </div>

        <div class="d-flex flex-column justify-content-center align-items-center gap-3">
            <a href="{% url 'password_reset' %}" class="text-primary">Esqueci minha senha</a>
            <button type="submit"
                class="btn btn-custom btn-text-color px-4 w-100 rounded-3">Acessar</button>
        </div>
    </form>
  </div>
</div>

  <!-- Script para aplicar máscaras e exibir os campos -->
  <script>
    function applyMaskAndShowFields() {
      var userType = document.getElementById('user_type').value;
      var usernameField = document.getElementById('username');
      var loginFields = document.getElementById('loginFields');
      
      // Exibe os campos de login
      loginFields.style.display = 'block';

      // Limpa o valor do campo ao trocar a seleção
      usernameField.value = '';

      // Remove qualquer máscara existente
      usernameField.value = usernameField.value.replace(/\D/g, '');

      if (userType === 'instituicao') {
        // Aplica máscara de CNPJ (xx.xxx.xxx/xxxx-xx)
        usernameField.placeholder = 'Digite o CNPJ (xx.xxx.xxx/xxxx-xx)';
        $(usernameField).mask('00.000.000/0000-00');
      } else if (userType === 'profissional') {
        // Aplica máscara de CPF (xxx.xxx.xxx-xx)
        usernameField.placeholder = 'Digite o CPF (xxx.xxx.xxx-xx)';
        $(usernameField).mask('000.000.000-00');
      } else {
        // Remove a máscara para Administrador
        usernameField.placeholder = 'Digite seu login';
        $(usernameField).unmask();
      }
    }

    // Não exibir os campos até o tipo de usuário ser selecionado
    window.onload = function() {
      var userType = document.getElementById('user_type').value;
      if (userType === '') {
        document.getElementById('loginFields').style.display = 'none';
      }
    };
  </script>

{% endblock %}
