{% extends "base.html" %}

{% block content %}

  {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
      <p>Please login to see this page.</p>
    {% endif %}
  {% endif %}
  
  <div class="login">
    <form method="POST" class="formLogin">
        <h1>Login</h1>
        <p>Digite os seus dados de acesso no campo abaixo.</p>
        <label for="email">Usuário</label>
        <input type="text" placeholder="Digite nome de usuário" autofocus="true" />
        <label for="password">Senha</label>
        <input type="password" placeholder="Digite sua senha" />
        <a href="/">Esqueci minha senha</a>
        <input type="submit" value="Acessar" class="btn" />
    </form>
  </div>
  

{% endblock %}
