{% extends "base.html" %}

{% block content %}

  {% if form.errors %}
  <div class="popUp-failLogin">
    <p>Your username and password didn't match. Please try again.</p>
  </div>
    
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
      <p>Please login to see this page.</p>
    {% endif %}
  {% endif %}
  
  <div class="login">
    <form method="post"  class="formLogin" action="{% url 'login' %}">
      {% csrf_token %}
        <h1>Login</h1>
        <p>Digite os seus dados de acesso no campo abaixo.</p>
        <table>
          <tr>
            <td>{{ form.username.label_tag }}</td>
          </tr>
          <tr>
            <td>{{ form.username }}</td>
          </tr>
          <tr>
            <td>{{ form.password.label_tag }}</td>
          </tr>
          <tr>
            <td>{{ form.password }}</td>
          </tr>
        </table>
        {# Assumes you set up the password_reset view in your URLconf #}
        <a href="{% url 'password_reset' %}">Esqueci minha senha</a>
        <input type="submit" value="Acessar" class="btn" />
    </form>
   
  </div>
  

{% endblock %}
