{% extends 'base.html' %}

{% load static %}

{% block title %}LembreMED - Moradores{% endblock %}


{% block content %}
<script src="{% static 'popup.js' %}" ></script>
<main>
    <section class="medicamentos-control">
        <div class="feature-title">
            <h2>MORADORES</h2>
        </div>
        {% if lista_moradores %}
            <ul>
                {% for morador in lista_moradores %}
                    <li>
                        Nome: {{ morador.nome }}
                        <br />CPF: {{ morador.cpf }}
                        <br />Dt. Nasc.: {{ morador.dt_nascimento|date:"d/m/Y" }}
                        <br /><span class="btn btn-primary" onclick="carregar_pagina_popup('editar/{{ morador.cpf }}', 'GET', {}, 'Alterar {{ morador.nome }}')">Editar</span>
                        <span class="btn btn-primary" onclick="if (confirm('confirma a exclusao deste morador?')) { carregar_pagina_popuploading('excluir/{{ morador.cpf }}', 'GET', {}, 'Excluindo {{ profissional.nome }}'); }">Excluir</span>
                        <span class="btn btn-primary" onclick="document.location='/medicamentos/{{ morador.cpf }}'">Medicamentos</span>
                        
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            Nenhum morador
        {% endif %}
     
    <input type="button" value="Cadastrar" onclick="carregar_pagina_popup('cadastrar/', 'GET', {}, 'Cadastrar morador');" />

    </section>
</main>
{% endblock %}
