{% load static %}
<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}LembreMED - Controle de Medicamentos{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    {% include 'header.html' %}
    
    {% block content %}
    <!-- Este bloco será sobrescrito pelo conteúdo das páginas filhas -->
    {% endblock %}

    {% include 'footer.html' %}
</body>
</html>
