{% extends 'base.html' %}

{% block title %}LembreMED - Moradores{% endblock %}

{% block content %}
<main>
    <section class="medicamentos-control">
        <div class="feature-title">
            <h2>MORADORES</h2>
        </div>
        <!-- <div class="feature">
            <p>Cadastro de Medicamentos: Permite que os profissionais cadastrem os medicamentos...</p>
        </div>
        <div class="feature">
            <p>Controle de Estoque: Mantém um registro atualizado do estoque de medicamentos...</p>
        </div> -->
    </section>
</main>
{% endblock %}
