{% extends 'base.html' %}

{% load static %}

{% block title %}LembreMED - Profissionais{% endblock %}

{% block content %}
<main class="main-content">
    <section class="profissionais-container">
        <h2 class="section-title">PROFISSIONAIS</h2>
        {% if lista_profissionais %}
            <div class="profissionais-cards">
                {% for profissional in lista_profissionais %}
                    <div class="profissional-card">
                        <div class="profissional-info">
                            <p>Nome: <strong>{{ profissional.nome }}</strong></p>
                            <p>CPF: {{ profissional.cpf }}</p>
                            <p>Instituição: {{ profissional.instituicao.nome }}</p>
                            <p>Coren: {{ profissional.coren }}</p>
                            <p>CNPJ da Instituição: {{ profissional.cnpj_instituicao }}</p>
                        </div>
                        <div class="profissional-actions">
                            <button onclick="carregar_pagina_popup('editar/{{ profissional.cpf }}', 'GET', {}, 'Alterar {{ profissional.nome }}')">Editar Profissional</button>
                            <button onclick="if (confirm('confirma a exclusão deste profissional?')) { document.location = 'excluir/{{ profissional.cpf }}'; }">Excluir</button>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p class="no-profissionais">Nenhum profissional cadastrado no nosso sistema ainda :(</p>
        {% endif %}

        <button class="btn-cadastrar" onclick="carregar_pagina_popup('cadastrar/', 'GET', {}, 'Cadastrar profissional');">Cadastrar Novo Profissional</button>
    </section>
</main>
{% endblock %}
