{% extends 'base.html' %}
{% load static %}
{% block title %}Lembre-MEd - Página Inicial{% endblock %}

{% block content %}

  <main>
    <section class="bg-custom-1">
      <div class="container">
        <div class="home">
          <!-- Texto -->
          <div class="title">
            <h1 class="fw-bold text-success">Segurança e praticidade</h1>
            <h3 class="text-muted">na administração de remédios.</h3>
            <button class="btn btn-success me-2 mb-2" data-bs-toggle="modal" data-bs-target="#janela" type="button">Login</button>
            <button class="btn btn-outline-success mb-2" type="button" onclick="location.href='#saiba+'">Saiba +</button>
          </div>   
          <!-- Imagem -->
           <div class="picture">
            <img src="{% static 'images/imagem-hero.jpg' %}" alt="Profissional cuidando da hóspede">
           </div>
            
        </div>
      </div>
    </section>

    <section id="saiba+" class="padding bg-custom-2">
      <div class="container">

        <h1>Nossas soluções</h1>

        <div class="card-grid">
          <div class="coluna">
            <div class="card">
              <h2>Cadastro</h2>
              <h5>de Medicamentos por Morador:</h5>
              <p>Registre os medicamentos para cada morador ou paciente de forma abrangente. 
                Inclua informações como princípio ativo, apresentação, dosagem prescrita, 
                quantidade disponível, frequência e horários de administração.</p>
              <img src="{% static 'images/cadastro_medicamento.svg' %}" alt="Icone adiconar" class="icon-card">
            </div>
        
            <div class="card">
              <h2>Acompanhamento</h2>
              <h5>de Histórico de Administração</h5>
              <p>Acompanhe todas as administrações de medicamentos realizadas para cada morador. 
                Registre datas, horários, doses administradas e o profissional responsável, 
                garantindo um histórico detalhado para auditoria e segurança do tratamento.</p>
              <img src="{% static 'images/acompanhamento_estoque.svg' %}" alt="Icone adiconar" class="icon-card">
            </div>
          </div>
            
          <div class="coluna">
            <div class="card">
              <h2>Cadastro</h2>
              <h5>de Estoque Dinâmico</h5>
              <p>Mantenha um registro atualizado do estoque de medicamentos por morador e por medicamento. 
                Nosso sistema calcula o tempo restante de estoque para cada medicamento e paciente, 
                auxiliando no controle e gestão eficientes dos recursos disponíveis.</p>
              <img src="{% static 'images/cadastro_estoque.svg' %}" alt="Icone adiconar" class="icon-card">
            </div>
        
            <div class="card">
              <h2>Registro</h2>
              <h5>de Responsáveis por Paciente</h5>
              <p>Registre os responsáveis pelos moradores e associe-os aos pacientes dentro do sistema. 
                Permita o recebimento de alertas sobre a medicação, 
                garantindo um acompanhamento mais seguro e personalizado do tratamento.</p>
              <img src="{% static 'images/responsavel_paciente.svg' %}" alt="Icone adiconar" class="icon-card">
            </div>
          </div>
        </div>
      </div>  
    </section>

  </main>

    <!-- Inclui o modal -->
    {% include '_login_modal.html' %}

  {% endblock %}