{% extends 'base.html' %}
{% load static %}
{% block title %}Lembre-MEd - Página Inicial{% endblock %}

{% block content %}

  <main>
    <section class=" container medicamento-control">
      <div class="circulo">
      </div>
      <div class="feature-title">
        <h2>CONTROLE EFICIENTE DE MEDICAMENTOS</h2>
      </div>
      <div class="feature">
        <img src="{% static 'images/pills_1685785.png' %}" alt="Cadastro de Medicamentos">
        <p>Cadastro de Medicamentos por Morador: Registre os medicamentos para cada morador ou paciente de forma abrangente. Inclua informações como princípio ativo, apresentação, dosagem prescrita, quantidade disponível, frequência e horários de administração.</p>
      </div>
      <div class="feature">
        <img src="{% static 'images/wall-clock_833602.png' %}" alt="Controle de Estoque">
        <p>Controle de Estoque Dinâmico: Mantenha um registro atualizado do estoque de medicamentos por morador e por medicamento. Nosso sistema calcula o tempo restante de estoque para cada medicamento e paciente, auxiliando no controle e gestão eficientes dos recursos disponíveis.</p>
      </div>
    </section>
  </main>

<!--

<main>
  <section class="banner">
  </section>

  <section class="medicamento-control">
    <div class="circulo">
    </div>
    <div class="feature-title">
      <h2>CONTROLE EFICIENTE DE MEDICAMENTOS</h2>
    </div>
    <div class="feature">
      <img src="{% static 'images/pills_1685785.png' %}" alt="Cadastro de Medicamentos">
      <p>Cadastro de Medicamentos por Morador: Registre os medicamentos para cada morador ou paciente de forma abrangente. Inclua informações como princípio ativo, apresentação, dosagem prescrita, quantidade disponível, frequência e horários de administração.</p>
    </div>
    <div class="feature">
      <img src="{% static 'images/wall-clock_833602.png' %}" alt="Controle de Estoque">
      <p>Controle de Estoque Dinâmico: Mantenha um registro atualizado do estoque de medicamentos por morador e por medicamento. Nosso sistema calcula o tempo restante de estoque para cada medicamento e paciente, auxiliando no controle e gestão eficientes dos recursos disponíveis.</p>
    </div>
  </section>
</main>

-->
{% endblock %}
