{% extends 'base.html' %}

{% load static %}

{% block title %}LembreMED - Profissionais{% endblock %}

{% block content %}
<script src="{% static 'popup.js' %}"></script>
<main style="padding: 20px;">
    <section class="moradores-container">
        <h2 class="section-title">PROFISSIONAIS</h2>
        {% if lista_profissionais %}
        <div class="moradores-cards">
            {% for profissional in lista_profissionais %}
            <div class="morador-card">
                <div class="morador-info">
                    <p>Nome: <strong>{{ profissional.nome }}</strong></p>
                    <p>CPF: {{ profissional.cpf }}</p>
                    <p>Coren: {{ profissional.coren }}</p>
                    <p>CNPJ da Instituição: {{ profissional.cnpj_instituicao }}</p>
                </div>
                <div class="morador-actions">
                    <button onclick="carregar_pagina_popup('editar/{{ profissional.cpf }}', 'GET', {}, 'Alterar {{ profissional.nome }}')">Editar Profissional</button>
                    <button onclick="if (confirm('confirma a exclusão deste profissional?')) { document.location = 'excluir/{{ profissional.cpf }}'; }">Excluir</button>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <p style="text-align: center;">Nenhum profissional cadastrado no nosso sistema ainda :(</p>
        {% endif %}
        <button class="btn-cadastrar" onclick="carregar_pagina_popup('cadastrar/', 'GET', {}, 'Cadastrar profissional');">Cadastrar Novo Profissional</button>
    </section>
</main>
{% endblock %}
