<form id="form_morador" action="salvar/" method="post" class="form-custom">
	{% csrf_token %}
	<div class="form-group">
		<label for="cpf">CPF:</label>
		{% if morador %}
			<input type="hidden" name="cpf" value="{{ morador.cpf }}" />
			<input type="hidden" name="edit" value="1" />
			<input type="text" id="cpf" value="{{ morador.cpf }}" disabled class="form-control" />
		{% else %}
			<input name="cpf" type="text" id="cpf" value="" class="form-control" />
		{% endif %}
	</div>
	<div class="form-group">
		<label for="nome">Nome:</label>
		<input name="nome" type="text" id="nome" value="{{ morador.nome }}" class="form-control" />
	</div>
	<div class="form-group">
		<label for="dt_nascimento">Dt Nascimento:</label>
		<input name="dt_nascimento" type="date" id="dt_nascimento" value="{{ morador.dt_nascimento|date:'Y-m-d' }}" class="form-control" />
	</div>
	<div class="">
		<label>Responsável:</label>
		<div class="form-group ms-3">
			<label for="rcpf">CPF:</label>
			<input name="rcpf" id="rcpf" value="{{ responsavel.cpf }}" class="form-control" onchange="verifica_cpf_responsavel(this)" />
		</div>
		<div class="form-group ms-3">
			<label for="rnome">Nome:</label>
			<input name="rnome" id="rnome" value="{{ responsavel.nome }}" class="form-control" disabled="" />
		</div>
		<div class="form-group ms-3">
			<label for="remail">E-mail:</label>
			<input name="remail" id="rcpf" value="{{ responsavel.cpf }}" class="form-control" disabled="" />
		</div>
		<div class="form-group ms-3">
			<label for="rtelefone">Telefone:</label>
			<input name="rtelefone" id="rtelefone" value="{{ responsavel.telefone }}" class="form-control" disabled="" />
		</div>
	</div>
	<button type="submit" class="btn btn-primary">Salvar</button>
</form>

<script>
	// Troca o submit para enviar no popup
	document.getElementById('form_morador').addEventListener('submit', envia_e_recarregar);
</script>
<script>
	$(document).ready(function () {
		$('#cpf').mask('000.000.000-00');

		// Evento de submit do formulário
		$('#form_morador').on('submit', function () {
			var cpf = $('#cpf').val();
			// Remover caracteres não numéricos
			cpf = cpf.replace(/\D/g, '');
			// Atualizar o valor do campo com apenas números
			$('#cpf').val(cpf);
		});
	});

	function verifica_cpf_responsavel(input) {
		alert($(input).length);
	}
</script>