{% extends 'base.html' %}
{% load static %}

{% block title %}Lembre-MEd - Hóspedes{% endblock %}

{% block content %}
<main>
    <section class="paginas bg-custom-2">
        <div class="container d-flex justify-content-center align-items-center">
            <div class="moradores">
                <h2 class="section-title">CADASTRAR HÓSPEDES</h2>

                <div class="moradores-filter mb-4">
                    <img class="filter-icon" src="{% static 'images/filter_icon.svg' %}" alt="Buscar">
                    <input type="text" id="searchInput" placeholder="Buscar por nome ou CPF..."
                        onkeyup="filterProfissionais()" class="form-control">
                </div>

                {% if lista_moradores %}
                <div class="profissionais-cards">
                    {% for morador in lista_moradores %}
                    <div class="profissional-card">
                        <div class="profissional-info">
                            <p>Nome: <strong>{{ morador.nome }}</strong></p>
                            <p>CPF: <span class="cpf">{{ morador.cpf }}</span></p>
                            <p>Data de Nascimento: {{ morador.dt_nascimento|date:"d/m/Y" }}</p>

                            <div class="responsavel-info mt-3">
                                <p><strong>Responsável:</strong></p>
                                <p>Nome: {{ morador.responsavel.nome }}</p>
                                <p>CPF: {{ morador.responsavel.cpf }}</p>
                                <p>E-mail: {{ morador.responsavel.email }}</p>
                                <p>Telefone: {{ morador.responsavel.telefone }}</p>
                            </div>
                        </div>

                        <div class="profissional-actions mt-3">
                            <button class="btn btn-custom me-2 mb-2"
                                onclick="carregar_pagina_popup('editar/{{ morador.cpf }}', 'GET', {}, 'Alterar {{ morador.nome }}')">
                                Editar Hóspede
                            </button>

                            <button class="btn btn-danger me-2 mb-2"
                                onclick="if (confirm('Confirma a exclusão de {{ morador.nome }}?')) { carregar_pagina_popuploading('excluir/{{ morador.cpf }}', 'GET', {}, 'Excluindo {{ morador.nome }}...'); }">
                                Excluir
                            </button>

                            {% if perms.lembremed.pode_medicar_morador and request.user.tipo != 'instituicao' %}
                            <button class="btn btn-custom-outline mb-2">
                                <a href="/medicamento/{{ morador.cpf }}">Medicamentos</a>
                            </button>
                            {% endif %}


                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% else %}
                <p class="no-instituicoes">Nenhum hóspede cadastrado no nosso sistema ainda :(</p>
                {% endif %}

                <button class="btn btn-custom me-2 mb-2"
                    onclick="carregar_pagina_popup('cadastrar/', 'GET', {}, 'Cadastrar hóspede');">Cadastrar Novo
                    Hóspede</button>
            </div>
        </div>
    </section>

    <script>
        function filterProfissionais() {
            var input = document.getElementById('searchInput');
            var filter = input.value.toUpperCase();
            var cardsContainer = document.querySelector('.profissionais-cards');
            var cards = cardsContainer.getElementsByClassName('profissional-card');

            for (var i = 0; i < cards.length; i++) {
                var card = cards[i];
                var name = card.querySelector('.profissional-info p').textContent.toUpperCase();
                var cpf = card.querySelectorAll('.profissional-info p')[1].textContent.toUpperCase();

                if (name.indexOf(filter) > -1 || cpf.indexOf(filter) > -1) {
                    card.style.display = "";
                } else {
                    card.style.display = "none";
                }
            }
        }

        $(document).ready(function () {
            $('.cpf').mask('000.000.000-00');
            $('.cpf').each(function () {
                var cpf = $(this).text().replace(/\D/g, '');
                if (cpf.length === 11) {
                    cpf = cpf.replace(/(\d{3})(\d{3})(\d{3})(\d{2})/, "$1.$2.$3-$4");
                    $(this).text(cpf);
                }
            });
        });
    </script>
</main>
{% endblock %}
