body,
html {
	height: 100vh;
	font-family: 'Helvetica Regular', sans-serif;
	font-weight: normal;
	background-color: #eee;
	color: #333;
}


/***********************************************
			INICIO HEADER.HTML
************************************************/

.brand-container img {
	margin-left: 10px;
	max-width: 30px;
	height: auto;
}

.brand-container {
	display: flex;
	align-items: center;
	gap: 5px;
}

.brand-container .logo-icon {
	height: 50px;
	width: auto;
}

.brand-container h1 {
	font-size: 24px;
	font-family: 'Myriad Pro', sans-serif;
	margin: 0;
	color: #eee;
}

header {
	background-color: #298377;
	background-image: url("/static/images/background.jpeg");
	background-size: cover;
	background-repeat: no-repeat no-repeat;
	color: white;
	padding: 1rem 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}


/* Estilos para navegação desktop */
nav {
	display: flex;
	align-items: center;
}

.nav-buttons ul {
	display: flex;
	list-style: none;
}

.nav-buttons ul li {
	margin: 0 1rem;
}

.nav-buttons ul li a {
	color: white;
	text-decoration: none;
}

nav ul {
	list-style-type: none;
	display: flex;
	margin-bottom: 0;
}

nav li {
	margin-right: 20px;
}

nav a {
	color: #eee;
	text-decoration: none;
	font-weight: bold;
	text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.7);
	padding: 10px 15px;
	border-radius: 20px;
	background-color: transparent;
	transition: background-color 0.3s;
}

nav a:hover,
nav a:focus {
	background-color: #76af9f;
	color: #eee;
	text-decoration: none;
}

.active {
	color: #ff0000;
	text-shadow: #333 0 -2px;
}

.nav-user {
	text-align: center;
	color: #eee;
}
/***********************************************
			FIM HEADER.HTML
************************************************/



/***********************************************
			INICIO INDEX.HTML (HOME)
************************************************/

.feature-title {
	width: 100%;
	text-align: center;
	margin-bottom: 1em;
	margin-top: 15px;
}

.feature img {
	margin-right: 1em;
	width: 50px;
}

.feature p {
	color: #333;
	padding: 0;
	font-size: 1em;
}

.banner {
	background: url(/static/images/background.jpg);
	background-size: cover;
	background-repeat: no-repeat no-repeat;
	height: 633px;
}

.circulo {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	margin: 10px;
	margin-top: 50px;
	margin-right: 800px;
	background: #2c8d7e
}

.highlight-items {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;
	border-top: solid 10px #004d40;
}

.highlight-items h1 {
	color: #2a7c6f;
	text-align: center;
	margin-top: 1em;
}

.highlight-items .feature {
	flex: 1 1 200px;
	box-shadow: 5px 20px 15px 1px rgba(0, 0, 0, 0.2);
	text-align: justify;
	margin: 10px;
	margin-bottom: 80px;
	padding: 20px;
	border-radius: 8px;
	display: flex;
	align-items: center;
	max-width: 500px;
}

.highlight-items .feature img {
	width: 100px;
	margin-right: 20px;
	display: flex;
	align-items: normal;
	height: 50px;
	width: 50px;
	margin-left: 10px;
	margin-bottom: 13%;
}

/***********************************************
			FIM INDEX.HTML (HOME)
************************************************/



/***********************************************
			INICIO LOGIN.HTML
************************************************/
.popUp-failLogin {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.login {
	display: flex;
	align-content: space-around;
	justify-content: center;
	width: 100%;
	background-color: #298377;
	min-height: 85%;
	flex-wrap: wrap;
	flex-direction: column;
}

.formLogin {
	display: flex;
	flex-direction: column;
	background-color: #eee;
	border-radius: 15px;
	padding: 20px;
	margin-block: 5%;
	box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
	gap: 5px;
	max-block-size: max-content;
}

.formLogin h1 {
	padding: 0;
	margin: 0;
	font-weight: 500;
	font-size: 2.3em;
}

.formLogin p {
	display: inline-block;
	font-size: 14px;
	color: #666;
	margin-bottom: 25px;
}

.formLogin input {
	width: 300px;
	font-size: 14px;
	margin-bottom: 20px;
	margin-top: 5px;
	border-radius: 4px;
	transition: all linear 160ms;
	outline: focus;
}

.formLogin input.btn {
	background-color: #2d7e71;
	color: #eee;
	border-radius: 50px;
}

.formLogin input.btn:hover {
	background-color: #144a41;
}

.formLogin input.btn:hover {
	background-color: #144a41;
}
/***********************************************
			FIM LOGIN.HTML
************************************************/

/***********************************************
			INICIO PASSWORD_RESET_FORM.HTML
************************************************/
.ForgotPassword {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	justify-content: center;
	width: 100%;
	height: 824px;
	background-color: #298377;
}

.formForgotPassword {
	display: flex;
	flex-direction: column;
	background-color: #eee;
	border-radius: 40px;
	padding: 40px;
	box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
	gap: 5px
}

.formForgotPassword h1 {
	padding: 0;
	margin: 0;
	font-weight: 500;
	font-size: 23px;
}

.formForgotPassword p {
	display: inline-block;
	font-size: 14px;
	color: #666;
	margin-bottom: 25px;
}

.formForgotPassword input {
	padding: 15px;
	width: 300px;
	font-size: 14px;
	border: 1px solid #ccc;
	margin-bottom: 20px;
	margin-top: 5px;
	border-radius: 4px;
	transition: all linear 160ms;
	outline: focus;
}

.formForgotPassword input.btn {
	background-color: #2d7e71;
	color: #eee;
	border-radius: 50px;
}

/***********************************************
			FIM PASSWORD_RESET_FORM.HTML
************************************************/

/***********************************************
			INICIO PASSWORD_RESET_DONE.HTML
************************************************/
.reset_password_done {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 791px;
}

.reset_password_done p {
	font-size: 30px;
}

/***********************************************
			FIM PASSWORD_RESET_DONE.HTML
************************************************/

/***********************************************
			INICIO LOGGET_OUT.HTML
************************************************/
.logout {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 822px;
}

.logout h1 {
	font-size: 100px;
}

.logout h2 {
	font-size: 20px;
	margin-top: 20px;
}

button .btn .Logout {
	background: #2d7e71;
	color: #eee;
	padding: 10px 20px;
	margin-top: 30px;
	border-radius: 50px;
}

button .btn .Logout:hover {
	background: #144a41;
}
/***********************************************
			FIM LOGGET_OUT.HTML
************************************************/

/***********************************************
			INICIO LISTAS
************************************************/

.main-content {
	background-color: #298377;
	padding-top: 100px;
	padding-bottom: 210px;
	padding: 20px;
	display: flex;
	align-items: center;
	/*justify-content: center;*/
	flex-direction: column; /* Para alinhar o conteúdo na direção vertical */
	min-height: calc(100vh - 150px); /* Garante que a altura mínima seja 100% da altura da tela */
}

#searchInput {
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	border-radius: 20px;
}

.filter-icon {
	height: 48px;
	margin-right: 10px;
}

.section-title {
	text-align: center;
	color: #004d40;
	margin-bottom: 20px;
}

.no-items-list {
	text-align: center;
}

.list-filter {
	display: flex;
	align-items: normal;
	margin-bottom: 20px;
}

.list-container {
	width: calc(100% - 5px);
	margin: 0 auto;
	margin-inline: 10px;
	padding: 20px;
	background-color: #eee;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
}

.btn-cadastrar {
	display: block;
	width: calc(100% - 30px);
	padding: 10px;
	background-color: #004d40;
	color: white;
	text-align: center;
	border: none;
	border-radius: 50px;
	cursor: pointer;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}

.btn-cadastrar:hover {
	background-color: #00251a;
}

.coluna.action button {
	padding: 5px 10px;
	margin: 0.25rem;
	background-color: #2c8d7e;
	color: white;
	text-decoration: none;
	border: none;
	border-radius: 50px;
	cursor: pointer;
	white-space: nowrap;
}

.coluna.action a:hover {
	background-color: #00796b;
}

.coluna.action button:focus {
	border-color: #00251a;
}

.coluna .dropdown {
	vertical-align: top;
}

.linha:hover {
	background-color: rgba(0, 0, 0, 0.1);
}

.linha dd {
	margin: 0px;
}

@media (min-width: 768.001px) { /* Estilos para dispositivos desktop */
	.linha:not(:last-child) .coluna {
		border-bottom: 1px solid #ccc;
	}

	.lista {
		display: table;
		width: 100%;
	}
	.cabecalho{
		display: table-header-group;
		font-weight: bold;
	}
	.cabecalho .coluna{
		border-bottom: 1px solid #000;
	}
	.linha {
		display: table-row;
	}
	.coluna {
		display: table-cell;
		padding: 0.15rem 0.3rem;
		vertical-align: top;
		word-break: break-word;
		overflow-wrap: break-word;
	}
	.coluna.action .dropdown {
		display: inline-block;
	}
	.coluna.action {
		text-align: center;
	}
}
@media (max-width: 768px) {/* Estilos para dispositivos móveis */
	.linha .info:not(:last-child) {
		border-bottom: 1px solid #aaa;
	}
	.lista {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		width: 100%;
		overflow-x: hidden;
	}
	.cabecalho,
	.linha dd,
	.linha dt {
		display: none;
	}
	.linha {
		position: relative; /* Necessário para dropdown se posicionar corretamente */
		background-color: #d3d6d6;
		border: 1px solid rgba(0, 0, 0, 0.2);
		margin: 10px;
		padding: 15px;
		border-radius: 15px;
		box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
		font-size: 0.9rem;
	}
	.coluna {
		padding: 4px 0;
	}
	.coluna.info {
		display: block !important;
	}
	.coluna.action,
	.coluna.action .dropdown {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		justify-content: center;

		/*z-index: 9999;*/
	}

	/* Mostrar o rótulo antes do valor */
	.coluna:not(.action)::before {
		content: attr(data-label) ': ';
		font-weight: bold;
		text-align: right;
	}
}

/***********************************************
			FIM LISTAS
************************************************/

/***********************************************
			INICIO CADASTRO
************************************************/

.form-custom {
	background-color: #eee;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
	margin: 20px 0;
}

.form-custom .form-group {
	margin-bottom: 15px;
}

.form-custom .form-group label {
	display: block;
	margin-bottom: 5px;
}

.form-custom .form-control {
	width: 100%;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.form-custom .btn-primary {
	background-color: #004d40;
	color: #eee;
	border: none;
	cursor: pointer;
	border-radius: 50px;
	display: block;
	width: 100%;
	margin-top: 10px;
}

.form-custom .btn-primary:hover {
	background-color: #00251a;
}

/***********************************************
			FIM CADASTRO
************************************************/

/***********************************************
			INICIO FOOTER.HTML
************************************************/
footer {
	display: flex;
	justify-content: center;
	background-color: #298377;
	border-top: solid 1px #eee;
	color: white;
	text-align: center;
	padding: 20px 0;
	position: relative;
	bottom: 0;
	width: 100%;
}

footer div {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

footer h1 {
	padding: 0 20px;
	font-size: 20px;
	color: #eee;
}

footer p {
	margin: 0;
	padding: 0 20px;
	font-size: 0.9em;
	color: #eee;
}

/***********************************************
			FIM FOOTER.HTML
************************************************/

/***********************************************
			INICIO XXX
************************************************/



.table-medicamento-desktop {
	display: flex;
	flex-direction: column;
	min-width: 800px;
	overflow-x: auto;
	white-space: nowrap;
}

.th-medicamento {
	min-width: 260px;
}
.span-medicamento {
	max-width: 260px;
}

/* Exibir apenas a versão de cards de medicamentos*/
.list-card-mobile {
	display: block;
	background-color: #f5f5f5;
	padding: 15px;
	margin-bottom: 15px;
	border-radius: 8px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

.card-info-mobile p {
	margin: 5px 0;
	font-size: 1rem;
	line-height: 1.4;
}

.list-mobile {
	display: flex;
	flex-direction: row;
	gap: 10px;
	justify-content: center;
	margin-top: 10px;
}

.list-actions-mobile button {
	padding: 8px 12px;
	background-color: #2c8d7e;
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.list-actions-mobile button:hover {
	background-color: #00251a;
}



@media (min-width: 768.01px) { /* Estilos para dispositivos desktop */
	*,body, p, h1, h2, h3, h4, h5, h6, a, span, li, td, th {
		/*color: #909000 !important;
		/*/color: currentColor;/**/
	}

	.menu-toggle {
		display: none;
	}
}


@media (max-width: 768px) { /* Estilos para dispositivos móveis */
	*,body, p, h1, h2, h3, h4, h5, h6, a, span, li, td, th {
		/*color: #000090 !important;
		/*/color: currentColor;/**/
	}

	.main-content {
		padding-top: 20px;
		padding-bottom: 20px;
	}

	/* Exibe o ícone de "hambúrguer" e oculta o nav */
	.menu-toggle {
		display: block;
		margin-right: 10px;
		font-size: 2rem;
		cursor: pointer;
		color: white;
	}

	nav {
		display: none;
	}

	.nav-buttons ul {
		flex-direction: column;
		align-items: center;
		width: 100%;
	}

	.nav-buttons ul li {
		margin: 1rem 0;
	}

	.nav-buttons ul li a {
		font-size: 1.2rem;
	}

	/* Estilo ativo para quando o menu é aberto */
	nav.show {
		display: flex;
	}

	/* Não exibe background para dispositivos móveis */
	.banner {
		display: none;
	}

	.highlight-items .feature {
		max-width: 340px;
	}

	.circulo {
		display: none;
	}

	.list-actions {
		flex-direction: column;
		gap: 10px;
	}
}

@media (min-width: 768.01px) { /* Estilos para dispositivos desktop */
}
@media (max-width: 768px) { /* Estilos para dispositivos móveis */
}