/*customização Modal de Login*/
.form-control:focus {
    border-color: #028B2F !important; /* Altera a cor da borda */
    box-shadow: 0 0 5px rgba(255, 102, 0, 0.5) !important; /* Altera a sombra ao focar */
    outline: none !important; /* Remove a borda padrão do navegador */
}




/* customizações do Bootstrap*/
.text-custom{
    color: #028B2F;
}
.bg-custom-1{
    background-color: #D8EBDE;
}
.bg-custom-2{
    background-color: #FAF9F6;
}

.btn-custom{
    background-color: #028B2F;
    margin-right: 10px;
}
.btn-custom:hover{
    background-color: #05a83b;
}
.btn-text-color {
    color: #FAF9F6;
}

.card{
    width: 500px;
    height: 270px;
    margin: 50px 40px 50px 40px;
    padding: 30px;
    border: #028B2F solid 4px;
    border-radius: 30px;
    background-color: transparent
}







/* customizações geral*/
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}
section {
    height: 100vh;
    display: flex;
    align-items: center;
}

h1,h2{
    color: #028B2F;
}
h5,p{
    color: #4f5757;
}






/*Home*/

li{
    margin-left: 20px;
}
.nav-link{
    font-weight: 400;
}

.nav-link:hover{
 font-weight: 600;
 color: #028B2F;
}
    
.logo{
    width: 45px;
    height: 70px;
    margin-right: 5px;
}
.home{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

}
.title{
    width: 40%;
}
.picture{
    width: 50%;
    display: flex;
    justify-content: center;
}
.picture img{
    max-width: 100%;
    height: auto;
    border: #028B2F solid 4px;
    border-radius: 40px;
}
button{
    margin-top: 20px;
}

.solucoes{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card-grid{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 50px 0 50px;
}

.icon-card {
    width: 45px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #198754;
    position: absolute;
    bottom: 15px;
    right: 15px;
}






/*Esqueci minha senha*/

.ForgotPassword{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.formForgotPassword{
    height: 500px;
    width: 400px;
    border: #028B2F solid 2px;
    border-radius: 40px;
    padding: 100px


}






footer{
    padding: 20px;
      bottom: 0;
      width: 100%;
      text-align: center;
}