<form id="form_instituicao" action="salvar/" method="post" class="form-custom">
    {% csrf_token %}
    {% if instituicao %}
        <input type="hidden" name="cnpj" value="{{ instituicao.cnpj }}">
        <input type="hidden" name="edit" value="1">
        <div class="form-group">
            <label for="cnpj">CNPJ:</label>
            <input type="text" id="cnpj" value="{{ instituicao.cnpj }}" disabled class="form-control">
        </div>
    {% else %}
        <div class="form-group">
            <label for="cnpj">CNPJ:</label>
            <input name="cnpj" type="text" id="cnpj" value="" class="form-control">
        </div>
    {% endif %}
    <div class="form-group">
        <label for="nome">Nome:</label>
        <input name="nome" type="text" id="nome" value="{{ instituicao.nome }}" class="form-control">
    </div>
    <div class="form-group">
        <label for="email">E-mail:</label>
        <input name="email" type="text" id="email" value="{{ usuario.email }}" class="form-control">
    </div>
    <div class="form-group ">
        <label for="senha">Senha:</label>
        <input name="senha" type="password" id="senha" value="{{ usuario.senha }}" class="form-control">
        <i class="bi bi-eye position-absolute end-0 top-50 translate-middle-y me-4 cursor-pointer"  id="togglePassword" onclick="togglePasswordVisibility()"
        style="margin-top: 12px;">
        </i>
    </div>
    </div>
    <button type="submit" class="btn btn-custom btn-text-color px-4 w-100 rounded-3">Salvar</button>
</form>

<script>
    // Troca o submit para enviar no popup
    document.getElementById('form_instituicao').addEventListener('submit', envia_e_recarregar);
</script>
<script>
    $(document).ready(function () {
      // Aplicar máscara de CNPJ
      $('#cnpj').mask('00.000.000/0000-00');
  
      // Evento de submit do formulário
      $('#form_instituicao').on('submit', function () {
        var cnpj = $('#cnpj').val();
        // Remover caracteres não numéricos
        cnpj = cnpj.replace(/\D/g, '');
        // Atualizar o valor do campo com apenas números
        $('#cnpj').val(cnpj);
      });
    });

    function togglePasswordVisibility() {
        var passwordField = document.getElementById("senha");
        var toggleIcon = document.getElementById("togglePassword");

        if (passwordField.type === "password") {
            passwordField.type = "text";
            toggleIcon.classList.remove("bi-eye");
            toggleIcon.classList.add("bi-eye-slash");
        } else {
            passwordField.type = "password";
            toggleIcon.classList.remove("bi-eye-slash");
            toggleIcon.classList.add("bi-eye");
        }
    }
    
  </script>
  